@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: monospace;
}

#root{
  width: 100dvw;
  height: 100dvh;
}

@layer base {
  
  button {
    padding: 5px 15px;
    border-radius: 7px;
    background-color: var(--color-sky-600);
    color: var(--color-sky-50);
    font-size: var(--text-sm); 
  }
  
  button:hover {
    background-color: var(--color-sky-400);
    cursor: pointer;
  }
  
  button:focus {
    outline: 2px solid var(--color-sky-200);
  }

  .nav-link {
    font-size: var(--text-base);
    margin: 0 15px;
  }

  .nav-link:hover {
    color: var(--color-sky-300);
  }

  .nav-link:focus {
    border-bottom: 2px solid var(--color-sky-400);
    outline: none;
  }

  h1 {
    font-size: var(--text-3xl);
    text-align: center;
    font-weight: bold;
    margin: 16px;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: bold;
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: bold;
  }

  h4 {
    text-align: right;
    font-size: var(--text-md);
  }
  
  p {
    font-size: var(--text-base);
  }

  label {
    font-weight: bold;
    font-size: var(--text-lg);
    color: var(--color-sky-500);
  }

  input {
    color: var(--color-sky-950);
    background-color: var(--color-sky-200);
    font-size: var(--text-md);
  }

  .card {
    background-color: var(--color-sky-50);
    color: var(--color-sky-950);
    border-radius: 10px;
    border: 3px solid var(--color-sky-950);
    padding: 15px;
  }

  .card-title {
    color: var(--color-sky-600);
  }

  .card:hover {
    border: 3px solid var(--color-sky-500);
    cursor: pointer;
  }

}
